<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot_base">
  <xacro:include filename="$(find robot_description)/urdf/robot_essentials.xacro"/>
  
  <link name="base_footprint">

  </link>

  <joint name="base_joint" type="fixed">
      <parent link="base_footprint"/>
      <child link="base_link"/>
      <origin xyz="0 0 135.0" rpy="0 0 0"/>
      <axis xyz="0.0 0.0 0.0"/>
  </joint>

  <link name="base_link">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="1.5707963267949 0 3.14"/>
      <geometry>
        <mesh filename="package://robot_description/meshes/robot_base.stl"/>
        <!-- <box size="1.0 1.0 1.0" /> -->
        <!-- <cylinder radius="1.0" length="1.0"/> -->
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1"/>
      </material>
    </visual>
    <!-- <collision>
      <geometry>
        <mesh filename="package://pkg_name/meshes/file_name"/>
        <box size="1.0 1.0 1.0" />
        <cylinder radius="1.0" length="1.0"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.0"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial> -->
  </link>

  <xacro:robot_wheel prefix="front_left"/>
  <xacro:robot_wheel prefix="front_right"/>
  <xacro:robot_wheel prefix="rear_left"/>
  <xacro:robot_wheel prefix="rear_right"/>

  <xacro:wheel_joint prefix="front_left" origin="0.220 0.250 0"/>
  <xacro:wheel_joint prefix="front_right" origin="0.220 -0.250 0"/>
  <xacro:wheel_joint prefix="rear_left" origin="-0.220 0.250 0"/>
  <xacro:wheel_joint prefix="rear_right" origin="-0.220 -0.250 0"/>

</robot>