<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot_essentials">
    <xacro:macro name="robot_wheel" params="prefix">
        <link name="link_name">
            <visual>
                <geometry>
                    <!-- <mesh filename="package://mm_robot_description/meshes/wheel.stl"/> -->
                    <!-- <box size="1.0 1.0 1.0" /> -->
                    <cylinder radius="1.0" length="1.0"/>
                </geometry>
                <material name="">
                    <color rgba="0.79216 0.81961 0.93333 1"/>
                </material>
            </visual>
            <!-- <collision>
                <geometry>
                    <mesh filename="package://pkg_name/meshes/file_name"/>
                    <box size="1.0 1.0 1.0" />
                    <cylinder radius="1.0" length="1.0"/>
                </geometry>
            </collision>
            <inertial>
                <mass value="0.0"/>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
            </inertial> -->
        </link>
        
    </xacro:macro>
</robot>